<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="aside">
        <div class="headerAside">
            <a href="my_information">
                <img src="img/avatar.jpg" width="40px" class="imgAvatar">
            </a>
            <a href="my_information" class="textInfo">Cài đặt tài khoản</a>
        </div>

        <div class="bodyAside">

        </div>
    </div>

    <div class="article">
        <div class="people">
            <img class="imgGirl" src="img/girl.jpg" width="370px">
            <div class="text">
                <span class="textGirl">Phương Linh 20</span>
                <div style="margin-top: 7px">
                    <span class="textContent">Dù đã 20 nhưng chưa có 1 mảnh tình vắt vai :))</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<style>
    body {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .container {
        max-width: 100%;
        margin: auto;
    }

    /*Aside*/
    .aside {
        width: 30%;
        height: 700px;
        border: 1px solid #a7a7a7;
        float: left;
    }

    .headerAside {
        height: 15%;
        background: linear-gradient(to right, #ff0066, #ff6666);
    }

    .imgAvatar {
        border-radius: 50px;
        margin-top: 7%;
        margin-left: 5%;
        text-decoration: none;
    }

    .textInfo {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial;
        color: white;
        margin-left: 2%;
        position: relative;
        top: -7px;
        text-decoration: none;
    }

    /*Article*/
    .article {
        width: 69.8%;
        height: 700px;
        float: right;
    }

    /*People*/
    .people {
        width: 500px;
        height: 600px;
        background-color: #e9e9e9;
        margin-top: 50px;
        margin-left: 23%;
        border-radius: 10px;
    }

    .imgGirl {
        margin-top: 20px;
        margin-left: 13%;
        border-radius: 10px;
    }

    .text {
        margin-top: 10px;
        margin-left: 65px;
    }

    .textGirl {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial;
    }

    .textContent {
        font-size: 20px;
        font-family: Arial;
    }
</style>