/*.container {*/
/*    background-image: url(img/Background.jpg);*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/


.container {
    max-width: 1423px;
    margin: auto;
}

/*Logo*/
.logo {
    position: relative;
    top: -680px;
    margin-left: 20px;
}

.textLogo {
    position: relative;
    top: -8px;
    color: white;
    font-weight: bold;
    font-family: Arial;
    font-size: 60px;
}

/*Language*/
.language {
    position: relative;
    top: -740px;
    margin-left: 1000px;
}

.textLanguage {
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: -3px;
    margin-left: 10px;
}

/*Login*/
.buttonLogin {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: white;
    position: relative;
    top: -778px;
    margin-left: 1210px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    color: #e33483;
}

.buttonLogin:hover {
    background: linear-gradient(to right, #ff0066, #ff6666);
    border: none;
    cursor: pointer;
    color: white;
}

/*Middle*/
.middle {
    position: relative;
    top: -580px;
    margin-left: 300px;
}

.textContent {
    font-size: 105px;
    font-weight: bolder;
    font-family: Arial;
    color: white;
}

.buttonSignup {
    width: 280px;
    height: 55px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to right, #ff0066, #ff6666);
    margin-left: 270px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    color: white;
}

.buttonSignup:hover {
    background: linear-gradient(to right, #ff6666, #ff0066);
    border: none;
    cursor: pointer;
}
